/* Reset style */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

body {
    height: 100vh;
    background-color: #f9f9f9;
    position: relative; 
    }

.parent {
    display: flex;
    gap: 20px;
    position: absolute;
    top: 20px;
    right: 20px;
    }

.circle {
    width: 150x;
    height: 150px;
    border-radius: 50%;
}

.circle img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transition: 1.2s ease;
    }

.circle:hover img {
    transform: rotate(15deg) scale(1.2);
}